<form action="">
    <label for="">Nombre: </label>
    <input type="text" name="nombre" [(ngModel)]="nombre">
    <br>

    <label for="">Apellido: </label>
    <input type="text">
    <br>

    <label for="">Edad: </label>
    <input type="number">
    <br>

    <label for="">PAÍS: </label> <br>
    <select class="" id="selectPaises"> 
        <option value="">Selecciona una opción</option>
    </select> <br>

    <label for="">ESTADO: </label> <br>
    <select class="" id="selectEstados">
        <option value="">Selecciona una opción</option>
    </select> <br>

    <label for="">MUNICIPIO: </label> <br>
    <select class="" id="selectMunicipios">
        <option value="">Selecciona una opción</option>
    </select> <br>

    <p>{{ nombre }}</p>

    <!-- <button id="btn" (click)="registrar()">Registrar</button> -->
</form>